img {
  max-width: 100%;
}
#home {
  background-image: url("../images/fondo_inicio.jpg");
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #home {
    background-image: url("../images/fondo_inicio@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
#menu {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  position: fixed;
  background-color: none;
  right: 5%;
  top: 65px;
}
.full {
  padding: 10px;
}
#rec-1,
#rec-2,
#rec-3,
#rec-4,
#rec-5,
#rec-6,
#rec-7,
#rec-8 {
  background-color: #009688;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -ms-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  position: absolute;
  top: 5%;
  z-index: 99999;
}
#re-1 {
  cursor: pointer;
}
#re-1:hover #rec-1 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-2 {
  cursor: pointer;
}
#re-2:hover #rec-2 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-3 {
  cursor: pointer;
}
#re-3:hover #rec-3 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-4 {
  cursor: pointer;
}
#re-4:hover #rec-4 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-5 {
  cursor: pointer;
}
#re-5:hover #rec-5 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-6 {
  cursor: pointer;
}
#re-6:hover #rec-6 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-7 {
  cursor: pointer;
}
#re-7:hover #rec-7 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#re-8 {
  cursor: pointer;
}
#re-8:hover #rec-8 {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#fondo_serv {
  background-image: url("../images/fondo_serv.jpg");
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  #fondo_serv {
    background-image: url("../images/fondo_serv@2x.jpg");
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: auto auto;
  }
}
.parrafos {
  line-height: 130%;
}
.parrafos2 {
  line-height: 150%;
}
.no {
  display: none;
}
.section {
  width: 100%;
  height: 100%;
}
.tope {
  position: fixed;
  background-color: none;
  right: 5%;
  top: 65px;
}
.caja {
  padding: 5px;
  height: 250px;
}
.border-r {
  border-right: solid 2px #efebe9;
}
#inf-con {
  width: 100%;
}
@media (max-width: 1300px) {
  #barra-navegacion {
    display: none;
  }
  #menu {
    display: block;
  }
}
/*@media (min-width: 100px), (min-height: 200px)
    .foo
      color: #100*/
